@media(min-width:769px){

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('../jousai_home/Bossbattle_lightup.jpg') no-repeat center center/cover; /* 背景画像 */
    background-attachment: fixed; /* 背景画像を固定 */
    opacity: 0.3; /* 画像の透明度 */
    z-index: -1; /* コンテンツの後ろに配置 */
}
body {
    font-family: 'Noto Serif JP', serif;
    background-color: #000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

main {
    padding: 2vw;
}

.title h2 {
    font-size: 5vw;
    text-align: center;
    color: #eaeaea;
    margin-bottom: 15vw;
}
.story{
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 15vw;
}

section h2 {
    font-size: 3vw;
    text-align: center;
    color: #eaeaea;
}


.forest, .city, .cave, .boss {
    text-align: center;
    background-color: #333;
    padding: 2vw;
    border-radius: 10px;
}
.areas {
    display: flex;
    flex-direction: column;
    margin-bottom: 20vw;
}
.areas h2{
    font-size: 5vw !important;
    text-align: left !important;
    padding-left: 10vw !important;
    margin-bottom: 1vw !important;
}
.areas p{
    font-size: 1.1vw;
}

.area {
    display: flex;
    align-items: center;
}

.area img {
    width: 80vw !important; 
    height: auto;
    border-radius: 5px;
}

/*要素を2個ずつ交互に配置*/
.area:nth-child(4n+1), .area:nth-child(4n+2) {
    flex-direction: row;
}

.area:nth-child(4n+3), .area:nth-child(4n+4) {
    flex-direction: row-reverse;
}



.area p {
    width: 45vw;
    padding: 0 2vw;
    color: #eaeaea;
}


.forest img, .city img, .cave img, .boss img {
    width: 100%;
    max-width: 60vw;
    height: auto;
    border-radius: 5px;
}


/*ボタンの処理*/
.navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 1vw;
    max-width: 70vw;
    margin: 0 auto; 
}

.navigation-buttons button {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}



.navigation-buttons button:hover {
    transform: scale(1.05)!important;/*ヘッダー実装したらなくなるかも*/
    background-color: rgba(255, 255, 255, 0.2); /* 背景色を少し変える */
    box-shadow: 0px 0px 10px rgba(52, 152, 219, 0.75), inset 0px 0px 5px rgba(255, 255, 255, 0.5);
}
 /* 画像ボタンサイズ変更 */
 .navigation-buttons .button-image {
    width: 100%;
    height: auto;
    display: block;
}

.navigation-buttons button:hover {
    background-color: #3498db;
 
    box-shadow: 0px 0px 10px rgba(52, 152, 219, 0.75), inset 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.jousai p {
    margin-top: 20vw;
    font-size: 1.5vw;
    text-align: right;
    margin-right: 2vw;
    color: #cccccc;
}

}






@media(max-width:768px){
    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: url('../jousai_home/Bossbattle_lightup.jpg') no-repeat center center/cover; /* 背景画像 */
        background-attachment: fixed; /* 背景画像を固定 */
        opacity: 0.3; /* 画像の透明度 */
        z-index: -1; /* コンテンツの後ろに配置 */
    }

    body {
        font-family: 'Noto Serif JP', serif;
        background-color: #000;
        color: #ffffff;
        margin: 0;
        padding: 0;
    }
    
    main {
        padding: 2vw;
    }
    
    
    .title h2 {
        font-size: 8vw;
        text-align: center;
        color: #eaeaea;
        margin-bottom: 20vw;
    }
    .story{
        font-size: 4.1vw;
        margin-bottom: 20vw;
    }
    
  
    section {
        margin-bottom: 5vw;
    }
    
    section h2 {
        font-size: 3vw;
        text-align: center;
        color: #eaeaea;
    }
    
    /* 各エリアのセクション */
    .forest, .city, .cave, .boss {
        text-align: center;
        background-color: #333;
        padding: 2vw;
        border-radius: 10px;
    }
    .areas {
        display: flex;
        flex-direction: column;
    }
    .areas h2{
        text-align: left;
        padding-left: 10vw;
        font-size: 10vw;
        margin-top: 10vw;
    }
    
    .area {
        flex-direction: column;
        text-align: center;
    }

    .area img {
        width: 90vw !important;
        margin-bottom: 2vw;
    }

    .area p {
        width: 90vw;
        font-size:3.5vw;
        padding: 0;
    }

    .navigation-buttons button {
        font-size: 4vw;
        margin: 2vw;
        padding: 2vw;
    }

    .jousai p {
        font-size: 3vw;
    }
    
    .area:nth-child(even) {
        flex-direction: row-reverse;
    }
    
    
    
    .forest img, .city img, .cave img, .boss img {
        width: 100%;
        max-width: 80vw;
        height: auto;
        border-radius: 5px;
    }
    
    
    /* ボタンセクション */
.navigation-buttons {
    margin-top: 20vw;
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 20vw;
}

.navigation-buttons button {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}



.navigation-buttons button:hover {
    transform: scale(1.05)!important;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(52, 152, 219, 0.75), inset 0px 0px 5px rgba(255, 255, 255, 0.5);
}

 .navigation-buttons .button-image {
    width: 100%;
    height: auto;
    display: block;
}


    
}    