/* PC表示 */
@media (min-width: 769px) {
    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('Bossbattle_lightup.jpg') no-repeat center center/cover; /* 背景画像 */
        background-attachment: fixed; /* 背景画像を固定 */
        opacity: 0.5; /* 画像の透明度 */
        z-index: -1; /* コンテンツの後ろに配置 */
    }
    body {
        font-family: 'Noto Serif JP', serif;
        margin: 0;
        padding: 0;
        background: #000;
        color: #fff;
    }

    main {
        max-width: 80vw;
        padding: 40px;
        margin: 0 auto;
    }

    .title h2 {
        font-size: 6vw;
        text-align: left;
        margin-bottom: 10vw;
        margin-left: -8vw;
    }

    .story {
        font-size: 1.2vw;
        line-height: 1.6;
        max-width: 80vw;
        margin-bottom: 15vw;
    }
    .day_and_time h2{
        font-size:3vw;
    }
    .day_and_time p{
        font-size: 2vw;
        margin-bottom: 10vw;
    }
    .game h2{
        font-size: 3vw;
    }
    .game p{
        font-size: 2vw;
        margin-bottom: 5vw;
    }
    
    .game {
        background-color: transparent; /* 親要素の背景色を透明にする */
    }
    
    .game button {
        background-color: #000;
        display: flex;
        justify-content: center;
        margin-bottom: 20vw;
        max-width: 50vw;
        margin: 0 auto;
        padding: 0; /* 余白をなくす */
        border: none; /* ボタンの枠線をなくす */
    }
    
    .button-game {
        width: 40vw;
        height: auto;
        display: block;
        margin: 0; /* 余計なマージンをなくす */
        padding: 0; /* 余計なパディングをなくす */
        border: none; /* ボタン内の画像の枠線をなくす */
        background: transparent; /* 画像以外の背景を透明に */
        box-shadow: none; /* 余計なシャドウがある場合に除去 */
    }

    .navigation-buttons {
        display: flex;
        justify-content: center;
        gap: 1vw; /* ボタン間のスペースを追加 */
        margin-bottom: 20vw;
        max-width: 70vw;
        margin: 0 auto; 
    }
    
    .navigation-buttons button {
        position: relative;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    }

    

    .navigation-buttons button:hover {
        transform: scale(1.05)!important; 
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0px 0px 10px rgba(52, 152, 219, 0.75), inset 0px 0px 5px rgba(255, 255, 255, 0.5);
    }
    



    .navigation-buttons .button-image {
        width: 100%; 
        height: auto;
        display: block;
    }
    
    .place img {
        width: 60vw;
        height: 30vw;
        display: block;
        margin: 0 auto;
    }
    
    .place h2{
        font-size: 3vw;
    }

    .place pre{
        margin-top: 5vw;
        margin-left: 5vw;
        font-size: 1.5vw;
        margin-bottom: 10vw;
    }
    .buttonDetail h2{
        font-size: 3vw;
        margin-bottom: 5vw;
    }
    .buttonDetail p{
        font-size: 1.5vw;
        margin-bottom: 5vw;
    }
   

.footer {
    background-color: #333; /* フッターの背景色 */
    padding: 5vw;
    text-align: center;
}

.footer .iconButtons {
    margin-top: 2vw; /* フッター内のボタン間の余白調整 */
}

.iconButtons button {
    width: 10vw;
    height: 10vw;
    background-color: transparent; /* ボタンの背景透過 */
    border: none;
    padding: 0; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconButtons img {
    width: 8vw; 
    height: 8vw;
}

.footer .jousai p {
    font-size: 2vw;
    text-align: right;
    color: #fff;
    margin-top: 2vw;
}


}


@media (max-width: 768px) {
    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 130vw;
        background: url('Bossbattle_lightup.jpg') no-repeat center center/cover; /* 背景画像 */
        opacity: 0.5; /* 画像の透明度 */
        z-index: -1; /* コンテンツの後ろに配置 */
    }
    body {
        font-family: 'Noto Serif JP', serif;
        margin: 0;
        padding: 0;
        background: #000;
        color: #fff;
    }

    main {
        padding: 6vw;
    }

    .title h2 {
        font-size: 8vw;
        text-align: center;
        margin-bottom: 25vw;
        margin-top: 15vw;
    }

    .story {
        font-size: 3vw;
        text-align: left;
        margin-bottom: 20vw;
    }
    .day_and_time{
        margin-bottom: 20vw;
    }

    .game h2{
        font-size: 5vw;
    }
    .game p{
        font-size: 2.8vw;
        margin-bottom: 5vw;
    }
    
    .game {
        background-color: transparent; /* 親要素の背景色を透明にする */
    }
    
    .game button {
        background-color: transparent;
        display: flex;
        justify-content: center;
        margin-bottom: 20vw;
        max-width: 50vw;
        margin: 0 auto;
        padding: 0; /* 余白をなくす */
        border: none; /* ボタンの枠線をなくす */
    }
    
    .button-game {
        width: 60vw;
        height: auto;
        display: block;
        margin: 0; /* 余計なマージンをなくす */
        padding: 0; /* 余計なパディングをなくす */
        border: none; /* ボタン内の画像の枠線をなくす */
        background: transparent; /* 画像以外の背景を透明に */
        box-shadow: none; /* 余計なシャドウがある場合に除去 */
    }

    .buttonDetail{
        margin-top: 20vw;
    }
    .buttonDetail p{
        font-size: 3vw;
        margin-bottom: 10vw;
    }

    .navigation-buttons {
        display: flex;
        justify-content: center;
        gap: 1vw; 
        margin-bottom: 20vw;
    }
    
    .navigation-buttons button {
        position: relative;
        background-color: transparent;
        border: none;
        padding: 0; 
        cursor: pointer;
    }
    



    .navigation-buttons .button-image {
        width: 100%; 
        height: auto;
        display: block;
    }
   
    .place img {
        width: 80vw; /* 画像の幅を設定 */
        height: 40vw;
        display: block; 
        margin: 0 auto;
    }
    .place pre{
        font-size: 4vw;
    }
    
    .footer {
        background-color: #333; /* 灰色背景 */
        padding: 1vw;
        height: 5vh; /* フッターの高さを小さく設定 */
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .footer .iconButtons {
        margin-left: 3vw;
        display: flex;
        gap: 1vw; /* フッター内のボタン間の余白調整 */
    }
    
    .iconButtons button {
        width: 6vw;
        height: 6vw;
        background-color: transparent; /* 背景透明 */
        border: none;
        padding: 0; 
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .iconButtons img {
        width: 7vw; 
        height: 7vw;
    }
    
    .footer .jousai p {
        font-size: 3vw; /* フッターテキストのサイズを小さく調整 */
        text-align: right;
        color: #fff;
        margin-right: 3vw;
    }
    
}
